html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

img {
    max-width: 100%;
}

.wraper {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}

.none {
    display: none !important;
}

/* Header */

.header {
    position: relative;
    /* background: url(../img/header/bg_header.jpg) center / cover no-repeat; */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* по какой оси будем отображать (горизонт=row) или (вертикаль=column) */
    justify-content: center;
    align-items: center;
}

.header__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.3;
    /* identical to box height, or 73px */
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.header__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    /* or 24px */
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 0;
    transition: transform 0.2s ease-in;
    /* transform: translate(-50%, 0); */
}

.header__arrow:hover {
    transform: translateY(2px);
}

/* Portfolio */

.portfolio {
    flex-grow: 1;
}

.portfolio__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    text-align: center;
    margin: 70px 0px 70px 0px;
}

.portfolio__cards_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio__card {
    /* max-width: 540px; */
    max-width: calc(50% - 15px);
    box-shadow: 0 10px 40px 0 rgba(126, 155, 189, 0.35);
    background-color: #ffffff;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in;
}

.portfolio__card:hover {
    transform: translateY(-15px);
}

.portfolio__card_link {
    display: block;
    color: black;
    padding: 20px;
    transition: transform 0.2s ease-in;
}

.portfolio__card_link:hover {
    color: rgb(104, 104, 248);
}

.portfolio__card:last-child, .portfolio__card:nth-last-child(2) {
    margin-bottom: 0px;
}

.portfolio__img {
    max-width: 500px;
    object-fit: contain;
    margin-bottom: 20px;
}

.portfolio__card h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 13px;
}

.portfolio__card p {
    font-size: 16px;
    line-height: 1.3;
}

/* Footer */

.footer {
    background: #1e4776;
    color: #ffffff;
    padding: 45px 0px 129px 0px;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__col {
    max-width: 350px;
    flex-grow: 1;
}

.footer__copyright_name {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    color: #7e9ec9;
    margin-bottom: 14px;
}

.footer__copyright p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: #7e9ec9;
    margin-bottom: 14px;
}

.footer__icon p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 15px;
}

.footer__icon_row {
    display: flex;
    align-items: center;
}

.footer__icon_row>*+* {
    margin-left: 42px;
}

.footer__contacts {
    max-width: 352px;
}

.footer__button {
    display: inline-block;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 50px;
    border: solid 3px #ffffff;
    padding: 0px 30px;
    transition: all 0.2s ease-in;
}

.footer__button:hover {
    background-color: #fff;
    color: #1e4776;
}

.footer__contacts p {
    font-size: 16px;
    line-height: 1.3;
    color: #7e9ec9;
    margin-top: 15px;
}

/* Project */

.project {
    text-align: center;
    margin-bottom: 60px;
}

.project__header {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3;
}

.project__img {
    margin-bottom: 70px;
}

.project__description {
    margin: 0 auto 50px;
    max-width: 730px;
}

.project__description p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.project__button__home {
    display: inline-block;
    width: 290px;
    height: 50px;
    margin: 15px 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    border-radius: 50px;
    border: solid 3px #275bec;
    color: #275bec;
    padding: 0px 15px;
    transition: all 0.2s ease-in;
}

.project__button__home:hover {
    background-color: #275bec;
    color: #fff;
}